@import "/src/styles/variabels";

body {
  font-family: Stolzl-Regular, sans-serif !important;
}

// borderradius 4px
.my-br-4 {
  border-radius: $border-radius !important;
}

// font size 12px
.my-fs-12 {
  font-size: 12px !important;
}

// main colors
.my-pc {
  color: $primery;
}
.my-sc {
  color: $secondary;
}
