@import "/src/styles/variabels";

body {
  font-family: Stolzl-Regular, sans-serif !important;
}

// borderradius 4px
.m-br-4 {
  border-radius: $border-radius !important;
}

// font size 12px
.m-fs-12 {
  font-size: 12px !important;
}
