@font-face {
  font-family: Stolzl-Book;
  src: url("../fonts/stolzl/Stolzl-Book.ttf") format("truetype");
}

@font-face {
  font-family: Stolzl-Regular;
  src: url("../fonts/stolzl/Stolzl-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Stolzl-Medium;
  src: url("../fonts/stolzl/Stolzl-Medium.ttf") format("truetype");
}
