@import "/src/styles/variabels";

header {
  .top {
    background-color: $purple;
  }
  .navbar {
    .search {
      &__icon {
        left: 25px;
        z-index: 10;
      }
    }
    .form-select {
      width: 53px;
    }
    .btn {
      padding-left: 19px;
      padding-right: 19px;
    }
    .group {
      & > div {
        cursor: pointer;
      }
      &__badge {
        background-color: $gray;
        padding: 2px 4px;
        top: 3px;
        &.active {
          background-color: $red;
        }
      }
    }
    .avatar {
      cursor: pointer;
    }
  }
  .nav-list {
    .nav-link {
      transition: 200ms;
      //padding: 10px 15px;
      &:hover,
      &.active {
        border-bottom-color: $primary !important;
      }
    }
  }
}
