@import "/src/styles/variabels";

.main {
  .breadcrumb-item {
    &.active {
      color: $dark-gray;
    }
  }
  .title {
    font-size: 22px;
  }
  .my-select {
    .form-select {
      background-color: $gray;
    }
    .v-line {
      right: 30px;
    }
  }
}
