@import "/src/styles/variabels";

.main {
  .breadcrumb-item {
    &.active {
      color: #747778;
    }
  }
  .filter {
    font-size: 22px;
    font-family: Stolzl-Book;
  }
  .my-select {
    background-color: #eff1f1;
    border-radius: 12px;
  }
}
